<h1>본인이 신청한 목록입니다.</h1>
  <thead>
    <tr>
      <th>품명 /    </th>
      <th>대여기간 /</th>
      <th>소유자</th>
    </tr>
  </thead>
  <br>
<% @posts.each do |post| %>
      <tr>
        <td><%= post.name %></td>
        <td><%= post.day %></td>
        <td><%= post.master %></td>
      </tr>
      <br>
<% end %>
<a href="/home/manager">메인화면으로</a>