<h1>안녕하세요 대여 관리시스템 페이지 입니다.</h1>

<% if user_signed_in? %>
<a href="/users/sign_out">로그아웃</a>

<%else%>
<a href="/users/sign_in">로그인</a>  <!--a태그는 get방식이라서 [config] - [initializers] - [devise.rb] 에서 방식을 바꾸었다. -->
<%= link_to '회원 가입', new_user_registration_path%>

<%end%>
