<% if user_signed_in? %>
<%=current_user.username %>
<a href="/users/sign_out">로그아웃</a>
<%end%>

<form action="glist" method="get">
    <button type="submit" class="btn btn-primary">신청자 목록</button>
</form>

<form action="tlist" method="get">
    <button type="submit" class="btn btn-primary">대여자 목록</button>
</form>

<form action="item_manager" method="get">
    <button type="submit" class="btn btn-primary">아이템 관리</button>
</form>

<form action="give" method="get">
    <button type="submit" class="btn btn-primary">신청 목록</button>
</form>

<form action="take" method="get">
    <button type="submit" class="btn btn-primary">대여 목록</button>
</form>
