<div class="container" style="margin-top: 50px">
<h1>아이템 수정</h1>

<%= render 'form' %>

<%= link_to '상세보기', @post, :class => "btn btn-primary" %> |
<%= link_to '뒤로가기', posts_path, :class => "btn btn-primary" %>
<a href="/home/manager">메인화면으로</a>
</div>